@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    background-color: #5651E6;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color: #5651E6;
    display: grid;
    grid-template-columns: 150px auto;
}
main section img {
    box-sizing: border-box;
}
#logo-link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 80px;
    border-radius: 50%;
    padding-bottom: 35px;
}
.home-grid{
    font-family: Courier, Monospace, "Times New Roman";
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    padding-top: 35px;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    background-color: #D4AC0D;
    color: white;
    text-decoration: none;
    font-family: "Lucida Console","Lucida", "Courier New";
    padding: 35px;
}
nav a:hover{
    background-color: white;
    color: #D4AC0D;
}
.home-title{
    color: white;
    font-family: "Lucida Console","Lucida", "Courier New";
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: white;
}
.card-img{
    border: 10px solid #D4AC0D;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains{
    width: 100%;
}
.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.book{
    background-color: #D4AC0D;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: #D4AC0D;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: white;
    color: #D4AC0D;
}
.join:hover{
    background-color: white;
    color: #5651E6;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1{
    text-align: center;
    font-family: "Lucida Console","Lucida", "Courier New";
}
#hero-msg h4{
    text-align: center;
    font-family: "Lucida Console","Lucida", "Courier New";
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #A6995D;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg{
    background-color: #5651E6;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
    color: white;
    font-family: "Lucida Console","Lucida", "Courier New";
}
.msg p{
    color: white;
    font-family: Courier, Monospace, "Times New Roman";
    font-size: .8em;
    padding-bottom: 15px;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
footer{
    background-color: #A6995D;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size: 1.2em;
    font-family: Courier, Monospace, "Times New Roman";
}
footer a{
    background-color: #5651E6;
    color: white;
    text-decoration: none;
    font-family: Courier, Monospace, "Times New Roman";
    
}
footer a:hover{
    background-color: white;
    color: #5651E6;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}