body{
    margin: 0;
}
header{
    margin: 0;
    text-align: center;
    background-color: gray;
}
.title{
    width: 100%;
    object-fit: cover;
}
section{
    text-align: center;
    background-color: gray;
}
.image_style{
    width: 20%;
    border-radius: 50%;
    margin: 50px;
    border: 10px solid rgb(50,50,50);
}